<p class=show-title>Title:<%= @book.title %></p>
<p class=show-body>Body:<%= @book.body %></p>

<div class=show-link>
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <span>|</span>
  <a href = "/books">Back</a>
</div>